fichero {
    background-color: greenyellow
}

pais {
    background-color: blue;
    display: block;
    font-size: 50px;
}

departamento {
    color: red;
    display: block;
    font-size: 50px;
}

cabecera {
    color: black;
    display: block;
    font-size: 50px;
}

altura {
    color: yellow;
    font-size: 50px;
    display: block;
}