/* ejemplo1.css   MG17032  */

fichero {
    background-color: rgb(43, 226, 83)
}

ficha {
    background-color: red;
    display: block;
    font-size: 100px;
}

nombre {
    color: green;
    display: inline;
    font-size: 100px;
}

apellido {
    color: blue;
    display: inline;
    font-size: 100px;
}

direccion {
    color: yellow;
    font-size: 100px;
    display: none;
}